:root {
    --navbar-bc-color: rgb(135, 37, 37);
    --welcome-section-bc-color: rgb(24, 24, 24);
    --project-section-bc-color: rgb(8, 64, 118);
    --profile-link-bc-color: rgb(24, 24, 24);   
    --figcaption-bc-color: rgb(24, 24, 24);
    --footer-bc-color: rgb(24, 24, 24);
}

* {
    margin: 0;
    padding: 0;
    font-size: 40px;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--navbar-bc-color) ;
    color: white;
}
#navbar a {
    /* border: 1px solid green; */
    text-decoration: none;
    color: white;
    margin: 20px;
    padding-right: 30px;
    font-size: 0.7em;
    animation: nav-animation 1s;
}
#welcome-section {
    /* border: 1px solid red; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--welcome-section-bc-color);
    margin: 0;
}
#welcome-section h1 {
    font-size: 2em;
    color: white;
    margin: 10px;
    animation: header-animation 1s;
    
}
#welcome-section p {
    margin: 0;
    color: red;
    animation: description-animation 1s;

}

#projects {
    /* border-top: 1px solid red; */
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
    height: 100vh;
    max-height: 1300px;
    background-color: var(--project-section-bc-color);
}
#projects h1 {
    margin: 20px;
}
#project-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    width: 98%;
    max-width: 1300px;
    flex-wrap: wrap;

}

.project-tile {
    text-decoration: none;
    color: white;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    width: 31%;
    height: auto;
    min-width: 300px;
    max-width: 400px;
    margin: 20px 0;
    padding: 0;
}
.figure {
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
    height: 100%;
    width: 100%;
    
}

.project-img {
    margin: 0;
    height: 100%;
    width: 100%;
}
.figure figcaption {
    margin-top: -10px;
    text-align: center;
    background-color: var(--figcaption-bc-color);
    padding: 15px;
    font-size: 0.7em;
    position: relative;
    /* border: 1px solid red; */
    
}
.figure figcaption::before {
    content: "<";
    position: relative;
    left: 0;
    color: orange;
    opacity: 0;
}
.figure figcaption::after {
    content: "/>";
    position: relative;
    right: 0;
    opacity: 0;
    color: orange;
}

.figure > figcaption:hover::before {
    animation: figcaption-before 1s forwards;
}
.figure > figcaption:hover::after {
    animation: figcaption-after 1s forwards;
}


#project-button {
    width: 20%;
    min-width: 200px;
    max-width: 200px;
    font-size: 0.7em;
    margin: 50px;
    padding: 10px;
}
#project-button:hover {
    background-color: red;
    animation: arrow-animation 1s forwards;
}
#profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
    background-color: var(--profile-link-bc-color);
    color: white;
    /* border: 1px solid red; */

}
#profile-container h1 {
    /* border: 1px solid red; */
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 0 10px 0;
    font-size: 1.5em;;
}

#profile-container p {
    /* border: 1px solid red; */
    font-size: 0.7em;
    margin: 0;
}

#links {
    margin-top: 1em;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    flex-wrap: wrap;
}

#links >  a {
    text-decoration: none;
    margin: 30px;
    /* border: 1px solid white; */
    color: white;
    font-size: 0.7em;
    position: relative;
}

#footer {
    text-align: right;
    font-size: 0.8em;
    background-color: var(--footer-bc-color);
    color: white;
    padding: 20px;
    border-top: 2px solid red;
}

#links > a:hover {
    animation: link-animation 1s forwards;
}

@keyframes link-animation {
    0% {
        margin: 30px;
    }
    100% {
        margin-top: 50px;
    }
}

@keyframes nav-animation {
    0% {
        margin-right: 50%;
    }
    100% {
        margin-right: 20px;
    }   
}
@keyframes header-animation {
    0% {
        margin-left: 70%;
        width: 300%;
    }
    100% {
        margin-right: 20px;
    }   
}
@keyframes description-animation {
    0% {
        margin-right: 70%;
    }
    100% {
        margin-right: 0;
    }   
}

@keyframes arrow-animation {
    
    100% {
        margin-right: 10px;
    }
}

@keyframes figcaption-before {
    0% {
        opacity: 50%;
    }
    100% {
        opacity: 100%;
    }
    
} 
@keyframes figcaption-after {
    0% {
        opacity: 50%;
    }
    100% {
        opacity: 100%;
    }
} 

@media (min-width: 800px) {
    #project-container {
        height: 100vh;
        max-height: 1000px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        /* border: 1px solid red; */
        width: 98%;
        height: auto;
        overflow-y: scroll;
        
    }   
    
}